body{
    background-image: url("halloween.jpg");
}

.adatok {
    background-color: rgb(243, 158, 0);
    padding: 3em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    margin-bottom: 2em;
    margin-top: 1em;
}

.adatok input{
    border-radius: 5em;
    width: 70%;
    border:none;
}

.adatok div{
    margin-bottom: 0.5em;
}

.adatok p {
    color: black;
    font-size: 1.5em;
    padding-left: 2.5em;
    
}

.hibauzenet{
    color: rgb(192, 28, 28);
    font-size:1.3em ;
    margin-left: 34%;
    font-weight: bold;
}

.hozzaad{
    
    background-color: black;
    height: 110%;
    color: rgb(255, 157, 0);
}

.kozep{
    text-align: center;
}

.card{
    text-align: center;
    margin-bottom: 1.4em;
    background-image: url("szellem.jpg");
    color: white;
}
.card p{
    font-size: 160%;
}

.gombform{
    margin-left:10%;
    background-color: black; 
    color: rgb(255, 157, 0); 
    border: 2px solid rgb(255, 157, 0);
}

.gombform:hover {
    background-color: rgb(255, 157, 0);
    color: black;
}

form button {
    border: none;
    color: white;
    padding: 2% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5em;
  }
  
.linkform{
    margin-left:25%;
}

.linkform:link, .linkform:visited {
    border: none;
    color: white;
    padding: 2% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5em;
    background-color: black; 
    color: rgb(255, 157, 0); 
    border: 2px solid rgb(255, 157, 0);
}
  
.linkform:hover, .linkform:active {
    background-color: rgb(255, 157, 0);
    color: black;
}

.linkvissza{
    margin-top: 5%;
    margin-left: 25%;
}

.linkvissza:link, .linkvissza:visited {
    border: none;
    color: white;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5em;
    background-color: black; 
    color: rgb(255, 157, 0); 
    border: 2px solid rgb(255, 157, 0);
}
  
.linkvissza:hover, .linkvissza:active {
    background-color: rgb(255, 157, 0);
    color: black;
}






